<form action="">
    <label for="id_titulo">Título: </label>
    <input type="text" name="titulo" id="id_titulo">
    <label for="id_conteudo"></label>
    <textarea name="conteudo" id="id_conteudo"></textarea>
    <input type="submit" value="Cadastrar Postagem">
</form>